@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width;60rem) {
    
    html {
        font size :110%;
    }
}   
@media only screen and (min-width; 90em) {
    
    html {
        font size :120%;
    }
}   
@media only screen and (min-width; 120em) {
    
    html {
        font size :130%;
    }
}   
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

a:link,
a:active {
outline: none;
}

a:focus {
    outline: 3px solid #000;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.masthead {
    background-color:#AAAAAA;
    overflow: hidden;
    display: block;
}
img {
  display: block;
  width: 100%;
  padding-right: 1rem;
}
.title {
    text-align:center;
    margin: 0;
    padding: 0 0 .5rem;
}
.intro {
    background-color: #e2e2e2;
    font-weight: 300;
    text-align:center;
}
.nav {
    padding:0;
    text-align: center;
    text-decoration: none;
}
/* KEEP MARGIN, FOR LATER */
.nav a {
    text-decoration: none;
    color: #0074D9;
    margin:0;
    padding:0;
}
ul {
    list-style-type: none;
    padding:0;
}
@media only screen and (min-width: 20em) {
    
    .masthead {
        text-align: center;
    }
    
    .nav li {
        display:inline-block;
    }
    
    .nav {
        text-align: center;
    }
    
    .footer {
        text-align: center;
    }
    
    .copyright {
        text-align: center;
}
}
@media only screen and (min-width: 40em) {
    
    .title {
        float:left;
        margin: 0;
        padding:0;
    }
    
    .nav {
        padding:1rem;
        text-align: center;
    }
    .footer {
    text-align: right;
}
.copyright {
    text-align: left;
}
    
}
    .header {
        background-color: #E8E8E8;
        overflow: hidden;
        text-align: center;
    }

.footer {
    background-color:#AAAAAA;
    overflow: hidden;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 4rem;
}

.lightgrey {
    background-color: #E8E8E8;
    overflow: hidden;
}

.mediumgrey {
    background-color: #D3D3D3;
}

.copyright {
    background-color:#AAAAAA;
    overflow: hidden;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 5rem;
}    

@media only screen and (min-width: 60em) {


dl {
    overflow: hidden;
}

dt {
    float: left;
    clear: left;
    width: 8rem;
}

dd {
    float: left;
    margin: 0;
    padding: 0;
}

.footer {
    text-align: right;
}
.copyright {
    text-align: left;
}
    
}    